# Ignore everything
*

# Except these files
!.git/**
!api/**
!core/**
!fcm/**
!firestore/**
!gcs/**
!gmail/**
!migration/**
!model/**
!otp/**
!pubsub/**
!sg/**
!src/main.rs
!usecase/**
!util/**
!Cargo.lock
!Cargo.toml
!rust-toolchain.toml
